.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container {
 width: 100%;
 height: 100vh;
 background: linear-gradient(320deg, #f27121, #e94057, #8a2387);
 flex-direction: column;
}

.headings {
    width: 60%;
    margin-bottom: 2vw;
}

@media (max-width: 416px) { 
     .headings {
        width: 95%;
     }
 }
 .headings > h1 {
    font-size: 3vw;
    text-align: center;
    padding: 0 20px;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #f27121;
    text-underline-offset: .5vw;

 }

 @media (max-width: 416px) { 
    .headings > h1 {
        font-size: 5vw;
    
     }
  }

  .slider_wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 20px;
  }
  @media (max-width: 416px ) { 
    .slider_wrapper {
        width: 100%;
      }
      
    }
    .inner_carousel {
        display: inline-flex;
    }
    .card {
        width: 300px;
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        backdrop-filter: bl(20px);
        padding: 30px 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16),
                    0 3px 6px rgba(0,0,0,0.23);
        pointer-events: none;
    }

 
    @media (max-width: 416px ) { 
        &:after{
            width: 6vw;
        }
     }
     .card_header {
        margin-bottom: 16px;
     }
     .title {
        font-size: 1vw;
        font-weight: bold;
        color:#000
     }
     @media (max-width: 416px  ) { 
        .title {
            font-size: 6vw;

        }
      }
    .sub_title {
        font-size: 1vw;
        color: #eee;
    }
    @media (max-width: 416px  ) { 
        .sub_title {
            font-size: 5vw;

        }
    }
    .card_img {
        width: 100%;
        height: 250px;
        display: block;
        border-radius: 16px;
        overflow: hidden;
        margin-bottom: 32px;
    }

    .card_img > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .card__footer {
        color:#bdbdbd;
        display: flex;
    }
   
